In [1]:
import os
import re
import collections
import pandas as pd
from sklearn.metrics.pairwise import cosine_distances
import numpy as np

Carga del corpus en memoria

In [2]:
# Define the path to the directory containing the text files
CORPUS_DIR = "data"
documents = {}

In [3]:
print(os.listdir(CORPUS_DIR))

['t1.txt', 't10.txt', 't11.txt', 't12.txt', 't13.txt', 't14.txt', 't15.txt', 't16.txt', 't17.txt', 't18.txt', 't19.txt', 't2.txt', 't20.txt', 't3.txt', 't4.txt', 't5.txt', 't6.txt', 't7.txt', 't8.txt', 't9.txt']

In [4]:
def clean_text(text):
    # Eliminar caracteres no deseados
    cleaned_text = re.sub(r'[^\w\s]', '', text)
    return cleaned_text

for filename in os.listdir(CORPUS_DIR):
    if filename.endswith('.txt'):
        file_path = os.path.join(CORPUS_DIR, filename)
        with open(file_path, 'r', encoding='utf-8') as file:
            text = file.read().lower()
            cleaned_text = clean_text(text)
            documents[filename] = cleaned_text

NameError: name 'stop_words' is not defined

In [47]:
print(documents)

{'t1.txt': 'historia de madrid madrid la capital de españa tiene una rica historia que se remonta\nal siglo ix la ciudad fue fundada por los musulmanes y su nombre proviene del árabe\nmajrit que significa fuente de agua a lo largo de los siglos madrid se ha convertido\nen un centro polıtico economico y cultural de españa', 't10.txt': 'madrid río madrid río es un parque lineal a lo largo del río manzanares y un ejemplo\nperfecto de cómo la ciudad ha transformado áreas industriales en espacios verdes vibrantes es un lugar popular para caminar andar en bicicleta y disfrutar de actividades\nal aire libre', 't11.txt': '  historia de dortmund dortmund situada en la región del ruhr en alemania tiene\nuna historia que se remonta al año 882 originalmente una pequeña villa dortmund\ncreció para convertirse en una importante ciudad industrial especialmente conocida\npor su producción de acero y cerveza\n', 't12.txt': ' westfalenpark westfalenpark es uno de los parques urbanos más grandes de europa\ny un lugar destacado para los visitantes en dortmund el parque es famoso por su\nrosarium que alberga una de las colecciones más extensas de rosas en el mundo y la\ntorre florian que ofrece vistas panoámicas de la ciudad', 't13.txt': 'museo del fútbol alemán inaugurado en 2015 el museo del fútbol alemán ofrece\nuna experiencia interactiva que celebra la rica historia del fútbol alemán ubicado en\ndortmund el museo atrae a aficionados de todo el mundo y destaca por sus exposiciones\nque cuentan desde los primeros días del deporte hasta los triunfos en copas del mundo', 't14.txt': 'mercado de navidad de dortmund el mercado de navidad de dortmund es uno de\nlos más grandes y más visitados de alemania con su gigantesco árbol de navidad\nposiblemente el más alto de los mercados navideños del país y más de 300 puestos que\nvenden artesanías alimentos y bebidas tradicionales es un evento imperdible durante\nla temporada festiva\n', 't15.txt': 'utower  centro de arte y creatividad el utower una antigua cervecería reconvertida es ahora un centro dinámico de arte y creatividad alberga el museo ostwall\nespacios de exposiciones y estudios de artistas y es un símbolo de la transformación\ncultural de dortmund', 't16.txt': ' borussia dortmund y el signal iduna park borussia dortmund es uno de los clubes de\nfútbol más populares y exitosos de alemania el equipo juega sus partidos en casa en el\nsignal iduna park conocido por su increıble atmosfera y el famoso muro amarillo\nla tribuna sur que alberga a 25000 aficionados apasionados', 't17.txt': ' la cervecería dortmund dortmund tiene una larga tradición cervecera y la visita a\nuna de sus muchas cervecerías es una parada obligatoria las cervecerías ofrecen tours\nque incluyen degustaciones de cervezas locales como dortmunder export una lager\nque es un orgullo de la ciudad', 't18.txt': 'la reinoldikirche la iglesia de san reinold es el edificio más antiguo de dortmund\ndatando del siglo xiii es un punto de referencia histórico importante y ofrece a los\nvisitantes una mirada al pasado medieval de la ciudad', 't19.txt': 'dortmund durante la segunda guerra mundial dortmund fue un objetivo significativo\ndurante los bombardeos de la segunda guerra mundial debido a su industria pesada\nhoy en día varios monumentos y museos ofrecen reflexiones sobre este período y sus\nefectos en la ciudad', 't2.txt': 'el palacio real el palacio real de madrid es una de las residencias oficiales de la\nfamilia real española aunque ahora se usa principalmente para ceremonias de estado\ncon más de 3000 habitaciones es el palacio real más grande de europa occidental y\nun testimonio del esplendor y la historia de españa', 't20.txt': ' zoológico de dortmund el zoológico de dortmund es un lugar excelente para familias\ny amantes de la naturaleza con más de 1500 animales y un enfoque especial en la conservación de especies amenazadas el zoológico proporciona una experiencia educativa\ny entretenida\n', 't3.txt': ' museo del prado el museo del prado es uno de los museos más famosos del mundo\ny un destino imprescindible para los amantes del arte que visitan madrid alberga\nuna impresionante colección de obras de vázquez goya el greco y otros maestros\neuropeos', 't4.txt': 'parque del retiro el parque del retiro es el pulmón verde de madrid antiguamente\nperteneciente a la monarquía española este parque de 118 hectáreas ofrece un respiro\nde la vida urbana con sus estanques jardines y el palacio de cristal', 't5.txt': 'gastronomía madrileña madrid es famosa por su vibrante escena gastronómica que\nincluye desde tapas en pequeños bares hasta restaurantes de alta cocina platos típicos\ncomo el cocido madrileño y las patatas bravas son esenciales para cualquier visitante', 't6.txt': ' gran vía la gran vía es una de las calles más famosas de madrid conocida por sus\ntiendas teatros y arquitectura emblemática este bullicioso bulevar es un punto de\nencuentro para turistas y locales por igual', 't7.txt': ' real madrid y el estadio santiago bernabéu el real madrid uno de los clubes de\nfútbol más famosos y exitosos del mundo juega sus partidos en el estadio santiago\nbernabéu este estadio es una meca para los aficionados al fútbol y ofrece tours que\npermiten a los visitantes explorar su rica historia', 't8.txt': 'navidad en madrid durante la temporada navideña madrid se transforma con mercados festivos luces deslumbrantes y decoraciones la plaza mayor se convierte en un\nenorme mercado de navidad donde se pueden encontrar todo tipo de regalos y delicias\ntradicionales', 't9.txt': 'nochevieja en puerta del sol la puerta del sol es el corazón de madrid y el lugar\ndonde miles se reúnen cada nochevieja para dar la bienvenida al año nuevo comer las\ndoce uvas de la suerte al son de las campanadas del reloj es una tradición que todos\ndeberían experimentar'}

In [48]:
# Dictionary to save the doc normalized
normalized_word_counts = {}

In [49]:
for doc in documents:
    word_count = collections.Counter(documents[doc].split())
    total_words = sum(word_count.values())
    normalized_word_count = {word: count/total_words for word, count in word_count.items()}
    normalized_word_counts[doc] = normalized_word_count

In [50]:
df = pd.DataFrame.from_dict(normalized_word_counts)

In [51]:
df_no_nan = df.fillna(0)
df_no_nan = df_no_nan.rename_axis('Files')
columnas = df_no_nan.columns.values[0:]
df1 = pd.pivot_table(df_no_nan, columns='Files', values=columnas)
df1

Files,118,1500,2015,25000,300,3000,882,a,acero,actividades,...,vistas,vázquez,vía,westfalenpark,xiii,y,zoológico,árabe,árbol,áreas
t1.txt,0.000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.017857,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.035714,0.000000,0.017857,0.000000,0.000000
t10.txt,0.000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.021739,0.000000,0.021739,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.043478,0.000000,0.000000,0.000000,0.021739
t11.txt,0.000,0.00000,0.000000,0.000000,0.000000,0.000000,0.023256,0.000000,0.023256,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.023256,0.000000,0.000000,0.000000,0.000000
t12.txt,0.000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.019231,0.000000,0.000000,0.038462,0.000000,0.038462,0.000000,0.000000,0.000000,0.000000
t13.txt,0.000,0.00000,0.017857,0.000000,0.000000,0.000000,0.000000,0.017857,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.017857,0.000000,0.000000,0.000000,0.000000
t14.txt,0.000,0.00000,0.000000,0.000000,0.017241,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.051724,0.000000,0.000000,0.017241,0.000000
t15.txt,0.000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.095238,0.000000,0.000000,0.000000,0.000000
t16.txt,0.000,0.00000,0.000000,0.018868,0.000000,0.000000,0.000000,0.018868,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.056604,0.000000,0.000000,0.000000,0.000000
t17.txt,0.000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.022727,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.022727,0.000000,0.000000,0.000000,0.000000
t18.txt,0.000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.026316,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.026316,0.026316,0.000000,0.000000,0.000000,0.000000
t19.txt,0.000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.023810,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.047619,0.000000,0.000000,0.000000,0.000000
t2.txt,0.000,0.00000,0.000000,0.000000,0.000000,0.019231,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.038462,0.000000,0.000000,0.000000,0.000000
t20.txt,0.000,0.02439,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.073171,0.073171,0.000000,0.000000,0.000000
t3.txt,0.000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.023256,0.000000,0.000000,0.000000,0.046512,0.000000,0.000000,0.000000,0.000000
t4.txt,0.025,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.025000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.025000,0.000000,0.000000,0.000000,0.000000
t5.txt,0.000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.027027,0.000000,0.000000,0.000000,0.000000
t6.txt,0.000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.055556,0.000000,0.000000,0.055556,0.000000,0.000000,0.000000,0.000000
t7.txt,0.000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.019231,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.057692,0.000000,0.000000,0.000000,0.000000
t8.txt,0.000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.051282,0.000000,0.000000,0.000000,0.000000
t9.txt,0.000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.019608,0.000000,0.000000,0.000000,0.000000

In [52]:
df1.to_csv("vect_normalized.csv",index=True)

In [53]:
columns_names = df1.columns.values

In [54]:
df2 = pd.DataFrame(columns=columns_names)
df2

Empty DataFrame
Columns: [118, 1500, 2015, 25000, 300, 3000, 882, a, acero, actividades, aficionados, agua, ahora, aire, al, alberga, alemania, alemán, alimentos, alta, alto, amantes, amarillo, amenazadas, andar, animales, antigua, antiguamente, antiguo, apasionados, arquitectura, arte, artesanías, artistas, atmosfera, atrae, aunque, año, bares, bebidas, bernabéu, bicicleta, bienvenida, bombardeos, borussia, bravas, bulevar, bullicioso, cada, calles, caminar, campanadas, capital, casa, celebra, centro, ceremonias, cervecera, cervecería, cervecerías, cerveza, cervezas, ciudad, clubes, cocido, cocina, colecciones, colección, comer, como, con, conocida, conocido, conservación, convertido, convertirse, convierte, copas, corazón, creatividad, creció, cristal, cualquier, cuentan, cultural, cómo, dar, datando, de, deberían, debido, decoraciones, degustaciones, del, delicias, deporte, desde, deslumbrantes, destaca, destacado, ...]
Index: []

[0 rows x 377 columns]

In [55]:
with open('query.txt', 'r') as file:
    lineas = [line.rstrip('\n') for line in file]
df_querys = pd.DataFrame(lineas,columns = ["Consulta"])
df_querys['Ranking'] = pd.Series(dtype=str)
df_querys

                                             Consulta Ranking
0          Historia medieval de las ciudades europeas     NaN
1          Principales destinos turÃ­sticos en Europa     NaN
2      Influencia de la realeza en la cultura europea     NaN
3   Importancia de los parques urbanos en las ciud...     NaN
4          GastronomÃ­a tÃ­pica en capitales europeas     NaN
5              Eventos deportivos icÃ³nicos en Europa     NaN
6       Celebraciones de Navidad en ciudades europeas     NaN
7                Museos de arte importantes en Europa     NaN
8   Efectos de la Segunda Guerra Mundial en ciudad...     NaN
9        Arquitectura histÃ³rica en ciudades europeas     NaN
10  Clubes de fÃºtbol famosos y sus estadios en Eu...     NaN
11  TransformaciÃ³n urbana y regeneraciÂ´on de esp...     NaN
12          TradiciÃ³n cervecera en ciudades europeas     NaN
13          Mercados y comercio tradicional en Europa     NaN
14  Centros de arte y creatividad en ciudades mode...     NaN
15  Actividades de ocio y entretenimiento en ciuda...     NaN
16  ConservaciÃ³n de la naturaleza y la vida silve...     NaN
17  PlanificaciÃ³n de eventos culturales y festiva...     NaN
18  Desarrollo del transporte y la infraestructura...     NaN
19        Impacto de la tecnologÃ­a en la vida urbana     NaN

In [56]:
for linea in lineas:
    query = linea.split()
    vector = np.zeros(df2.shape[1], dtype=int)
    for palabra in query:
        if palabra in df2.columns:
            i = df2.columns.get_loc(palabra)
            vector[i] = 1
    df2.loc[len(df2)] = vector
    
df2

,118,1500,2015,25000,300,3000,882,a,acero,actividades,...,vistas,vázquez,vía,westfalenpark,xiii,y,zoológico,árabe,árbol,áreas
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
df2.to_csv("querys_dictionary.csv",index=True)

In [58]:
list_top = []

for idx_df1, fila_df1 in df2.iterrows():
    distancias_query = []
    for idx_df2, fila_df2 in df1.iterrows():
        distancia_coseno = cosine_distances([fila_df1.values], [fila_df2.values])[0][0]
        distancias_query.append((distancia_coseno, idx_df2))
    ranking = sorted(distancias_query, key=lambda x: x[0])
    top = ranking[:3]
    list_top.append((idx_df1, top))

In [59]:
print(list_top)

[(0, [(0.5885244001010881, 't2.txt'), (0.5942486643996554, 't14.txt'), (0.6209509782105483, 't18.txt')]), (1, [(0.6278957962323748, 't11.txt'), (0.7165266452430796, 't13.txt'), (0.7350935285869913, 't8.txt')]), (2, [(0.4522774424948337, 't12.txt'), (0.4693313694947676, 't18.txt'), (0.4867997607203325, 't20.txt')]), (3, [(0.4836022205056776, 't12.txt'), (0.6493328078151639, 't14.txt'), (0.6666666666666666, 't1.txt')]), (4, [(0.6278957962323748, 't11.txt'), (0.7165266452430796, 't13.txt'), (0.7350935285869913, 't8.txt')]), (5, [(0.6278957962323748, 't11.txt'), (0.7165266452430796, 't13.txt'), (0.7350935285869913, 't8.txt')]), (6, [(0.47825080525004904, 't12.txt'), (0.5030581326631905, 't14.txt'), (0.5285954792089683, 't20.txt')]), (7, [(0.5334305251841565, 't15.txt'), (0.5739935663848708, 't12.txt'), (0.5942486643996554, 't14.txt')]), (8, [(0.4522774424948337, 't12.txt'), (0.4693313694947676, 't18.txt'), (0.4867997607203325, 't20.txt')]), (9, [(0.6278957962323748, 't11.txt'), (0.7165266452430796, 't13.txt'), (0.7350935285869913, 't8.txt')]), (10, [(0.5482460485473744, 't15.txt'), (0.552786404500042, 't20.txt'), (0.5733590831740205, 't16.txt')]), (11, [(0.4444161004962841, 't15.txt'), (0.5314787143341818, 't14.txt'), (0.5555555555555556, 't20.txt')]), (12, [(0.7368825942078914, 't11.txt'), (0.7995540685656818, 't13.txt'), (0.8126828376836612, 't8.txt')]), (13, [(0.6252341555020693, 't16.txt'), (0.6253656753673225, 't8.txt'), (0.6407893959464502, 't19.txt')]), (14, [(0.3675444679663241, 't15.txt'), (0.552786404500042, 't20.txt'), (0.5757359312880714, 't12.txt')]), (15, [(0.4167881564801956, 't15.txt'), (0.42264973081037416, 't20.txt'), (0.4522774424948337, 't12.txt')]), (16, [(0.45566894604818253, 't20.txt'), (0.5266353687968711, 't12.txt'), (0.5463676456367226, 't15.txt')]), (17, [(0.4167881564801956, 't15.txt'), (0.42264973081037416, 't20.txt'), (0.4522774424948337, 't12.txt')]), (18, [(0.6158250900360839, 't9.txt'), (0.641431417199682, 't4.txt'), (0.643965502541844, 't3.txt')]), (19, [(0.572382012940121, 't4.txt'), (0.5757359312880714, 't12.txt'), (0.5889458463397076, 't18.txt')])]

In [60]:
df_querys['Ranking'] = list_top
df_querys

,Consulta,Ranking
0,Historia medieval de las ciudades europeas,"(0, [(0.5885244001010881, t2.txt), (0.59424866..."
1,Principales destinos turÃ­sticos en Europa,"(1, [(0.6278957962323748, t11.txt), (0.7165266..."
2,Influencia de la realeza en la cultura europea,"(2, [(0.4522774424948337, t12.txt), (0.4693313..."
3,Importancia de los parques urbanos en las ciud...,"(3, [(0.4836022205056776, t12.txt), (0.6493328..."
4,GastronomÃ­a tÃ­pica en capitales europeas,"(4, [(0.6278957962323748, t11.txt), (0.7165266..."
5,Eventos deportivos icÃ³nicos en Europa,"(5, [(0.6278957962323748, t11.txt), (0.7165266..."
6,Celebraciones de Navidad en ciudades europeas,"(6, [(0.47825080525004904, t12.txt), (0.503058..."
7,Museos de arte importantes en Europa,"(7, [(0.5334305251841565, t15.txt), (0.5739935..."
8,Efectos de la Segunda Guerra Mundial en ciudad...,"(8, [(0.4522774424948337, t12.txt), (0.4693313..."
9,Arquitectura histÃ³rica en ciudades europeas,"(9, [(0.6278957962323748, t11.txt), (0.7165266..."
10,Clubes de fÃºtbol famosos y sus estadios en Eu...,"(10, [(0.5482460485473744, t15.txt), (0.552786..."
11,TransformaciÃ³n urbana y regeneraciÂ´on de esp...,"(11, [(0.4444161004962841, t15.txt), (0.531478..."
12,TradiciÃ³n cervecera en ciudades europeas,"(12, [(0.7368825942078914, t11.txt), (0.799554..."
13,Mercados y comercio tradicional en Europa,"(13, [(0.6252341555020693, t16.txt), (0.625365..."
14,Centros de arte y creatividad en ciudades mode...,"(14, [(0.3675444679663241, t15.txt), (0.552786..."
15,Actividades de ocio y entretenimiento en ciuda...,"(15, [(0.4167881564801956, t15.txt), (0.422649..."
16,ConservaciÃ³n de la naturaleza y la vida silve...,"(16, [(0.45566894604818253, t20.txt), (0.52663..."
17,PlanificaciÃ³n de eventos culturales y festiva...,"(17, [(0.4167881564801956, t15.txt), (0.422649..."
18,Desarrollo del transporte y la infraestructura...,"(18, [(0.6158250900360839, t9.txt), (0.6414314..."
19,Impacto de la tecnologÃ­a en la vida urbana,"(19, [(0.572382012940121, t4.txt), (0.57573593..."

In [61]:
df_querys.to_csv("querys_ranked.csv",index=True)